:root {
  --bg-color: #F6F4EF;
  --wh: #fff;
  --black: #414141;
  --dark-gray: #818181;
  --gray: #DDDDDD;
  --light-gray: #EEEEEE;
  --brand: #99C08E;
  --red-error: #C41013;
  --red--error-bg: #FFA3A5;
  --red: #F50E0E;
  --green: #E1EDDE;
  --green-text: #578246;
  --yellow: #FFF1CC;
  --yellow-text: #C18E1B;
  --blue: #E0F1F5;
  --blue-text: #418099;
  --pink: #FDE0E9;
  --pink-text: #BC3C6A;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Pretendard'; }
body { background-color: var(--bg-color); }

.inner { width: 1200px; margin: 0 auto; }
#header .inner { display: flex; flex-direction: row; justify-content: space-between; width: calc(100vw - 440px); height: 100px; padding: 20px 0; }
.create_study_btn { display: flex; flex-direction: column; justify-content: center; width: 252px; height: 60px; border-radius: 16px; background: #99C08E; text-align: center; color: var(--wh); font-family: 'JejuStoneWall'; font-size: 18px; }